body{
	background:#Fffdd0;
}

a:hover{
	text-decoration: none;
	color: #000;
}

a{
	color: inherit;
	text-decoration: none;
	text-decoration: underline;
}

.logo{
	width: 140px;
	height: 98px;
}
#logo_ini{
	width: 180px;
	height: 138px;
}

#login_ini{
	margin-top: 30px;
	text-align: center;
	width: 50%;
	height: 100%;
	float: left;
}
#destaque_ini{
	float: right;
	background-color: green;
	width: 50%;
	height: 648px;
	float: right;
}

.page_ini{
	display: block;
	display: flex;
	text-align: center;
    line-height: 100%;
}
.navbar{
	background: black;
	float: bottom;
	text-decoration: all;
	height: 2px;
	float-bottom: all;
}

.nav-navbar{
	display: block;
	padding: 50px;
	display: flex;
	float: right;
}

.nav-navbar li{
	margin-right: 30px;
	list-style-type: none;
}

.nome_usuario{
	color: #008000;
	display: block;
}

.exp_expressao{
	color: #000;
	font-size:22px;
	text-decoration: none;
}

.explic_expressao{
	color: #333;
	margin-right: 10px;
}
.pesquisa{
	display: flex;
	padding: 3px;
	padding: 5px;
}
.lupa{
	width: 30px;
	height: 28px;
}

/*.ver_mais{
	text-align: center;
	background: #fffdd0;
	padding: 20px;
*/