<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>ZigZag Brasileiro</title>

			<link rel="stylesheet" href="css/style.css">

			<link rel="shortcut icon" href="imagens/favicon-2.ico"/>

		</head>

		<body>
			<div>
			<nav class="default">
				<div class="container">
					<img src="imagens/zigzag_logo.png" class="logo"/>

					<ul class="nav-navbar">
						<li><a href="/">Home</a></li>
						<li><a href="/">Minha conta</a></li>
						<li><a href="/">Sair</a></li>
					</ul>
				</div>

				<nav class="navbar navbar-default">
					<div id="navbar" class="navbar-hm"></div>
				</nav>
				
			</nav>
			</div>

			<div class="login">
				<h3>Faça seu login</h3>
				<p>E-mail: <input type="text" id="email" name="email" placeholder="Insira seu e-mail"/></p>
				<p>Senha: <input type="password" id="senha" name="senha" placeholder="Insira sua senha"/></p>
				<p><input type="submit" value="Fazer login"/></p> <!-- Se confirmado encaminhar para tela de pesquisa -->
				<p><input type="submit" value="Cadastrar-se"/></p> <!-- Encaminhar para tela de cadastro -->
				<p><input type="submit" value="Pesquisar sem cadastro"/></p> <!-- Encaminhar para tela de pesquisa -->
			</div>
			<div>
				<!-- Colocar palavras em destaque ou informações -->
			</div>
	</body>
</html>