<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>ZigZag Brasileiro</title>
			<link rel="stylesheet" href="css/style.css">
			<link rel="shortcut icon" href="imagens/favicon-2.ico"/>

		</head>
	<body>
		<div>
			<nav class="default">
				<div class="container">
					<img src="imagens/zigzag_logo.png" class="logo"/>

					<ul class="nav-navbar">
						<li><a href="/buscar">Pesquisar</a></li>
						<li><a href="/add_giria">Cadastrar gíria</a></li>
						<li><a href="/">Sobre</a></li>
					</ul>
				</div>

				<nav class="navbar navbar-default">
					<div id="navbar" class="navbar-hm"></div>
				</nav>
				
			</nav>
			</div>
		<h1>Cadastrar-se</h1>
		<form action="/cadastro" method="get">
			<p>Nome de usuário: <input type="text" id="nome" name="nome" placeholder="Insira seu nome"/></p>
			<p>Cidade: <input type="text" id="cidade" name="cidade" placeholder="Insira sua ecidade"/></p>
			<p>Estado: <input type="text" id="stado" name="stado" placeholder="Insira seu estado"/></p>
			<p>E-mail: <input type="text" id="email" name="email" placeholder="Insira seu e-mail"/></p>
			<p>Senha: <input type="password" id="senha" name="senha" placeholder="Insira sua senha"/></p>
			<p>Confirmação de senha: <input type="password" id="conf_senha" name="conf_senha" placeholder="Confirme sua senha"/></p>
			<input type="submit" value="Salvar"/>
		</form>
	</body>
</html>