<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>ZigZag Brasileiro</title>
			<link rel="stylesheet" href="css/style.css">
			<link rel="shortcut icon" href="imagens/favicon-2.ico"/>
		</head>
	<body>
		<div>
			<nav class="default">
				<div class="container">
					<img src="imagens/zigzag_logo.png" class="logo"/>

					<ul class="nav-navbar">
						<li><a href="/buscar">Pesquisar</a></li>
						<li><a href="/add_giria">Cadastrar gíria</a></li>
						<li><a href="/">Sobre</a></li>
					</ul>
				</div>

				<nav class="navbar navbar-default">
					<div id="navbar" class="navbar-hm"></div>
				</nav>
				
			</nav>
			</div>
		<h1>Minha conta</h1>
		<p>Nome de usuário: <input type="text" name="nome_usu_pes"></p>
		<p>E-mail de usuário: <input type="text" name="email_usu_pes"></p>
		<p><input type="submit" value="Atualizar"/></p>
		<p>Gírias Cadastradas: <input type="text" name="girias_usu_pes"></p>
	</body>
</html>