<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>ZigZag Brasileiro</title>
		</head>
	<body>
		<h1>Fazer login</h1>
<<<<<<< HEAD
		<form action="/login" method="post">
			<p>E-mail: <input type="text" id="email" name="email" placeholder="Insira seu e-mail"/></p>
			<p>Senha: <input type="password" id="senha" name="senha" placeholder="Insira sua senha"/></p>
			<input type="submit" value="Fazer login"/>
		</form>
=======
>>>>>>> a956aa1... Importação
	</body>
</html>