<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>ZigZag Brasileiro</title>
		</head>
	<body>
		<h1>Adicionar gíria</h1>
		<br>
		<form action="/salvarGiria" method="post">
			<p>Expressão: <input type="text" id="expressao" name="expressao" placeholder="Insira a expressão"/></p>
			<p>Explicação da expressão: <input type="text" id="explicacao" name="explicacao" placeholder="Insira sua explicação"/></p>
			<p>Exemplo de uso: <input type="text" id="exemplo" name="exemplo" placeholder="Insira um exemplo"/></p>
			<p>Estado: <input type="text" id="exemplo" name="exemplo" placeholder="Insira um exemplo"/></p>
			<input type="submit" value="Salvar"/>
		</form>
	</body>
	</body>
</html>