<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>ZigZag Brasileiro</title>
		</head>
	<body>
		<h1>Uma gíria específica</h1>
		<div action="/giria">
	<!-- Acho que usa aquele negocio pra colocar js em html, mas não tenho certeza-->
	</body>
</html>