<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>ZigZag Brasileiro</title>
		</head>
	<body>
		<h1>Uma gíria específica</h1>
		<div action="/giria">
<<<<<<< HEAD
	<!-- Acho que usa aquele negocio pra colocar js em html, mas não tenho certeza-->
=======
	<!-- Acho que usa aquele negocio pra colocar js em html, mas não tenho certeza -->
	<table>
			<tr>
				<td>ID</td>
				<td>Expressão</td>	
				<td>Explicação</td>			
			</tr>		
			<tr>
				
			</tr>
			%>
		</table>
>>>>>>> b696285... Segundo commit: css, select e index
	</body>
</html>