<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>ZigZag Brasileiro</title>
		</head>
	<body>
		<div action="/pesquisa">
			<p><input type="text" id="pesquisa" name="pesquisa" placeholder="Pesquisar"></p>
	</body>
</html>