<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>ZigZag Brasileiro</title>
			<link rel="stylesheet" href="css/style.css">
			<link rel="shortcut icon" href="imagens/favicon-2.ico"/>
		</head>
	<body>
		<div>
			<nav class="default">
				<div class="container">
					<img src="imagens/zigzag_logo.png" class="logo"/>

					<ul class="nav-navbar">
						<li><a href="/add_giria">Cadastrar gíria</a></li>
						<li><a href="/">Sobre</a></li>
					</ul>
				</div>

				<nav class="navbar navbar-default">
					<div id="navbar" class="navbar-hm"></div>
				</nav>
				
			</nav>
			</div>
		<div action="/pesquisa">
			<h1>Pesquisar</h1>
			<p>Pesquisar: <input type="text" id="pesquisa" name="pesquisa" placeholder="Pesquisar gíria ou expressão"/></p>
			<p>Pesquisar por estado: <select name="estados-brasil">
				<option value="" selected>Selecione um estado</option>
				<option value="AC">Acre</option>
				<option value="AL">Alagoas</option>
				<option value="AP">Amapá</option>
				<option value="AM">Amazonas</option>
				<option value="BA">Bahia</option>
				<option value="CE">Ceará</option>
				<option value="DF">Distrito Federal</option>
				<option value="ES">Espírito Santo</option>
				<option value="GO">Goiás</option>
				<option value="MA">Maranhão</option>
				<option value="MT">Mato Grosso</option>
				<option value="MS">Mato Grosso do Sul</option>
				<option value="MG">Minas Gerais</option>
				<option value="PA">Pará</option>
				<option value="PB">Paraíba</option>
				<option value="PR">Paraná</option>
				<option value="PE">Pernambuco</option>
				<option value="PI">Piauí</option>
				<option value="RJ">Rio de Janeiro</option>
				<option value="RN">Rio Grande do Norte</option>
				<option value="RS">Rio Grande do Sul</option>
				<option value="RO">Rondônia</option>
				<option value="RR">Roraima</option>
				<option value="SC">Santa Catarina</option>
				<option value="SP">São Paulo</option>
				<option value="SE">Sergipe</option>
				<option value="TO">Tocantins</option>
				</select></p>
			<input type="submit" value="Buscar"/>
		</div>
	</body>
</html>